.appwrapper {
  margin: var(--gutter-medium);
  padding: var(--gutter-medium);
}

.editwrapper {
  display: flex;
  align-items: center;
}

.errmessage {
  font-size: 0.8rem;
  margin-left: var(--gutter-small);
  color: var(--color-danger);
}
