@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  position: relative;
  --spinner-size: 22px;
}

.spinner::before {
  position: absolute;
  content: '';
  top: calc(-1 * (var(--spinner-size) / 2));
  height: var(--spinner-size);
  width: var(--spinner-size);
  border: solid 3px var(--color-border);
  border-bottom-color: var(--color-primary);
  border-radius: 50%;
  animation: 1s linear infinite spinner;
}
